snippet reclass
	var ${1} = React.createClass({
		render: function () {
			return (
				${2}
			);
		}
	});

snippet v
	var ${1};

snippet var
	var ${1};

snippet map
	${1}.map(function(element, index, array) {
		${2}
	});

snippet reduce
	${1}.reduce(function(previousValue, currentValue, index, array){
		${2}
	});
